
.mydialog .el-dialog__header {
	padding: 15px 20px 10px;
  text-align: left;
}
.mydialog .el-dialog__body {
	padding: 0 20px 1px;
}
.mydialog .dialog-footer {
	padding: 10px 5px;
	overflow: hidden;
}
.el-dialog{
  margin: 0 auto;
}

.el-menu{
  border: none;
}


.oneMenu{
  width:32%; float:left;margin-left:1%;
}
.sonMenu{
  width:48%; float:left;margin-left:1%;
}



.pd-t10-b20{
  padding-top: 10px;
  padding-bottom: 20px;
}
.pd-lr10{
  padding-left: 10px;
  padding-right: 10px;
}
.pd-t2-l10{
  padding: 2px 10px;
}

.textL{
  text-align: left;
}

.top-title{
  margin-top: 10px;
  height: 35px;
  line-height: 35px;
  text-align: left;
  font-size: 16px;
  padding: 0 10px;
}
.h50{
  height: 50px; line-height: 50px; font-size: 16px; padding:0 10px; text-align: left;
  margin-bottom: 5px;
}





/* 字体 */
.font12{
  font-size: 12px;
}

.myDialog .el-dialog{
  border-radius: 5px;
  overflow: hidden;
}
.myDialog .el-dialog__body{
  padding: 10px;
  
}

.blueHead .el-dialog__header{
  /* background-color: #9eaab7; */
  background-color: #5eb198;
  
}
.blueHead .el-dialog__title{
  font-size: 16px;
  color:#fff;
}
.blueHead .el-dialog__close{
  color:#fff;
}
.el-dialog__header{
  padding: 10px;
}
.radius_tl5{
  border-top-left-radius: 5px;
}
.radius_bl5{
  border-bottom-left-radius: 5px;
}
.radius_tbl5{
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
