.pd10{padding: 10px;}
.pd-lr10{padding-left: 10px; padding-right: 10px;}
.pd-lr15{padding-left: 15px; padding-right: 15px;}

.pd-tb10{padding-top: 10px; padding-bottom: 10px;}
.pd-tb15{padding-top: 15px; padding-bottom: 15px;}

.pd-t5{padding-top: 5px;}
.pd-r5{padding-right: 5px;}
.pd-b5{padding-bottom: 5px;}
.pd-l5{padding-left: 5px;}

.pd-t10{padding-top: 10px;}
.pd-r10{padding-right: 10px;}
.pd-b10{padding-bottom: 10px;}
.pd-l10{padding-left: 10px;}

.pd-t15{padding-top: 15px;}
.pd-r15{padding-right: 15px;}
.pd-b15{padding-bottom: 15px;}
.pd-l15{padding-left: 15px;}

.pd-t20{padding-top: 20px;}
.pd-r20{padding-right: 20px;}
.pd-b20{padding-bottom: 20px;}
.pd-l20{padding-left: 20px;}

.mg10{margin: 10px;}
.mg-lr10{margin-left: 10px; margin-right: 10px;}
.mg-lr15{margin-left: 15px; margin-right: 15px;}

.mg-tb10{margin-top: 10px; margin-bottom: 10px;}
.mg-tb15{margin-top: 15px; margin-bottom: 15px;}

.mg-t5{margin-top: 5px;}
.mg-r5{margin-right: 5px;}
.mg-b5{margin-bottom: 5px;}
.mg-l5{margin-left: 5px;}

.mg-t10{margin-top: 10px;}
.mg-r10{margin-right: 10px;}
.mg-b10{margin-bottom: 10px;}
.mg-l10{margin-left: 10px;}

.mg-t15{margin-top: 15px;}
.mg-r15{margin-right: 15px;}
.mg-b15{margin-bottom: 15px;}
.mg-l15{margin-left: 15px;}

.mg-t20{margin-top: 20px;}
.mg-r20{margin-right: 20px;}
.mg-b20{margin-bottom: 20px;}
.mg-l20{margin-left: 20px;}